# .env.example
JWT_EXPIRES_IN=1h

PORT=4000

DB_SERVICE_URL=http://localhost:3002
DB_SERVICE_API_URL=http://db-service:4001/api/v1
DB_SERVICE_BASE_URL=http://db-service:4001
AUTH_BASE_URL=http://127.0.0.1:4000
DB_SERVICE_AUDIENCE=db-service
AUTH_SERVICE_AZP=auth-service

COOKIE_SAMESITE=lax
COOKIE_DOMAIN=
CORS_ORIGINS=
NODE_ENV=development

ALLOWED_REDIRECTS=https://app1.localhost:3000,https://app2.localhost:3000

SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_SECURE=false
SMTP_USER=
SMTP_PASS=

JWT_SECRET=