{
    "tabWidth": 4,
    "useTabs": true,
    "htmlWhitespaceSensitivity": "ignore",
    "printWidth": 100000,
    "singleQuote": false,
    "trailingComma": "es5",
    "bracketSpacing": false
}